  <div class="jumbotron text-center" *ngIf="submitted">
      <h1>Thank you for your submission!</h1>
      <p>We appreciate it!!</p>
</div>

<form (ngSubmit)="processForm()" *ngIf="!submitted">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" required [(ngModel)]="user.Name">
    </div>
      
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" required [(ngModel)]="user.Username">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    {{ diagnostic }}
</form>